<h3>Logs</h3>

<% if current_user.admin? %>
<%= render 'list' %>

<%= link_to 'Check Hours', reports_path, class: "btn btn-link mclink" %>
<% else %>

<%= render 'list' %>
<%= link_to 'New Log', new_log_path, class: "btn btn-link mclink" %>
<% end %>