<h3>Places</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name  %></td>
        <td><%= link_to 'Edit', edit_place_path(place), class: "btn btn-link mclink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path, class: "btn btn-link mclink" %>
